@import "bootstrap-sprockets";
@import "bootstrap";

$red:#ff0000;
$body-left-padding:100px;
.page-container{
	padding:0 $body-left-padding;
}

footer.foot-content {
	margin:10px auto;
	p{
		text-align:center;
		&:hover{
			color:$red;
		}
	}
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.field_with_errors{

}